<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Categories</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/addcategory' ? 'active' : '' %>" href="/addcategory">Add a Category</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/addproduct' ? 'active' : '' %>" href="/addproduct">Add a Product</a>
            </li>
            
        </ul>
       
        </ul>
    </nav>
</header>

